*{
    margin-top:5px;
    padding:0;
    font-family: sans-serif;

}

.header{

}

a{
    list-style-type: none;
    padding-inline: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align:right;
     float: right;
     position: fixed;
}

     a:hover{
    color: tomato;


}
.logo { 
    position: fixed;
    height: auto;
    left:0px;
    width:150px;
}
.line{}